@import url('https://fonts.googleapis.com/css?family=Abel|Cinzel|Karla|PT+Sans&display=swap');
body{
  background-image: url('ebike.gif');
  width: auto;
  /* height: auto; */
  background-size: 148em;
}

h1{
  color: #eaeeae;
  font-family: 'PT Sans', sans-serif;
  font-size: 5em;
  margin: 1em auto auto .5em;
  text-overflow: inherit;
  position: relative;
  /* top: 1em;
  right: -.5em; */
  /* animation: fade 2s 1 linear; */
  text-transform: uppercase;
}

h2{
  font-size: 3em;
}
.welcome_text{
  color: #faefaf;
  font-family: 'Karla', sans-serif;
  font-size: 1.5em;
  left: 1.8em;
  top: 15em;
  /* margin:3em auto auto .5em; */
  width: 33em;
  position: relative;

  /* animation: fade 2s 1 linear; */

}

.welcome_text > p > span{
  font-size: 1.5em;
  position: relative;
  top: 5px;
}

.welcome_text > p > span > a:hover{
  text-decoration: underline;
}
.welcome_text > p > span > a{
  color: #d65a63;
  margin-top: 12em;
}

#img1{
  width: auto;
  height: 100px;
  position: relative;
  top: -23em;
  left: 67em;
  /* animation: spin 5s infinite linear; */
  animation: fade 1.5s 1 ease-in-out;
}
#img2{
position:relative;
bottom: 10em;
left: 70em;
width: auto;
height: 0em;
}

#gif1{
  position: relative;
  left: 80em;
  width: 60em;
  height: -75em;
}

/* @keyframes spin {
  2%{transform: rotate(8deg);}
  4%{transform: rotate(16deg);}
  6%{transform: rotate(24deg);}
  8%{transform: rotate(32deg);}
  10%{transform: rotate(40deg);}
  12%{transform: rotate(48deg);}
  14%{transform: rotate(56deg);}
  16%{transform: rotate(64deg);}
  18%{transform: rotate(72deg);}
  20%{transform: rotate(80deg);}
  22%{transform: rotate(88deg);}
  24%{transform: rotate(96deg);}
  26%{transform: rotate(104deg);}
  28%{transform: rotate(112deg);}
  30%{transform: rotate(120deg);}
  32%{transform: rotate(128deg);}
  34%{transform: rotate(136deg);}
  36%{transform: rotate(144deg);}
  38%{transform: rotate(152deg);}
  40%{transform: rotate(160deg);}
  42%{transform: rotate(165deg);}
  44%{transform: rotate(170deg);}
  46%{transform: rotate(173deg);}
  48%{transform: rotate(176deg);}
  50%{transform: rotate(180deg);}

  52%{transform: rotate(188deg);}
  54%{transform: rotate(196deg);}
  56%{transform: rotate(204deg);}
  58%{transform: rotate(212deg);}
  60%{transform: rotate(220deg);}
  62%{transform: rotate(228deg);}
  64%{transform: rotate(236deg);}
  66%{transform: rotate(244deg);}
  68%{transform: rotate(252deg);}
  70%{transform: rotate(260deg);}
  72%{transform: rotate(268deg);}
  74%{transform: rotate(275deg);}
  76%{transform: rotate(280deg);}
  78%{transform: rotate(288deg);}
  80%{transform: rotate(295deg);}
  82%{transform: rotate(300deg);}
  84%{transform: rotate(308deg);}
  86%{transform: rotate(316deg);}
  88%{transform: rotate(322deg);}
  90%{transform: rotate(330deg);}
  92%{transform: rotate(335deg);}
  94%{transform: rotate(340deg);}
  96%{transform: rotate(348deg);}
  98%{transform: rotate(355deg);}
  100%{transform: rotate(360deg);}
} */

@keyframes fade {
  0%{
    opacity: 0;
  }
  10%{
    opacity: .05;
  }
  20%{
    opacity: .1;
  }
  30%{
    opacity: .15;
  }
  40%{
    opacity: .2;
  }
  50%{
    opacity: .25;
  }
  60%{
    opacity: .3;
  }
  70%{
    opacity: .35;
  }
  80%{
    opacity: .4;
  }
  90%{
    opacity: .45;
  }
  100%{
    opacity: 5;
  }
}
